__pycache__/player.cpython-310.pyc
__pycache__/map.cpython-310.pyc
__pycache__/camera.cpython-310.pyc
__pycache__/enemy.cpython-310.pyc
__pycache__/game.cpython-310.pyc
__pycache__/room.cpython-310.pyc
__pycache__/npcs.cpython-310.pyc